@use "../utils" as *;

/*----------------------------------------*/
/*  2.2 background
/*----------------------------------------*/
.white-bg {  background-color: var(--rr-common-white);}
.black-bg {background-color: var(--rr-common-black);}
// Theme bg
.theme-bg { background-color: var(--rr-theme-primary); }
.theme-bg-1 { background: #F1F5EB;}

.theme-bg-2 { background-color: #F1F5EB; }
.theme-bg-3 { background-color: var(--rr-theme-primary1); }
.theme-bg-4 { background-color: var(--rr-theme-primary2); }

// footer background
.theme-footer-bg-1 { background-color: #0A2540; }
.theme-footer-bg-2 { background-color: var(--rr-heading-primary); }
.theme-footer-bg-3 { background-color: #23272E; }


.theme-banner-3 { background-color: var(--rr-section-2); }

.service-bg{
    background: #F1F5EB;
}
.faq-bg-white{
    background: #F1F5EB;
}